/* RESET BÁSICO */

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --bg-color: #242D40;
  --bg-card-color: #E8F5FF;
  --bg-qr-color: rgba(255, 190, 100, .4);
}

nav ul {
  margin-block: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Inter";
  src: url('../assets/fonts/Inter.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  min-height: 100vh;
}

.card {
  position: absolute;
  line-height: 1.2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-card-color);
  width: 420px;
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
}

.card__header {
  background-color: var(--bg-qr-color);
  padding: 1rem 2.5rem;
  border-radius: 8px;
}

.card__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card__main {
  padding-left: .25rem;
  padding-right: .25rem;
}

.card__title {
  font-size: 2rem;
  font-weight: bold;
}

.card__description {
  font-size: 1.5rem;
  margin-bottom: 0;
}